.background-image {
  /* background */
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /* text */
  /* padding: 140px 0; */

  /* line-height: 100px; */
  text-align: center;
}

.footer {
  position:absolute;
  left:0;
  bottom:0;
  right:0;
}

.line__1,
.line__2 {
  color: white;
  white-space: nowrap; /* keep text in one line */
  overflow: hidden; /* hide text behind the cursor */
  margin: 0.5rem auto;
  font-family: "Major Mono Display", monospace;
  /* font-size: 2rem; */
  /* font-size: calc(30px + 2vmin); */
  font-weight: bold;
  
}
.line__1 {
  border-right: 2px hidden;
  /* define animation types for text + cursor */
  animation: animated-text__1 2s steps(20, end) 1s 1 normal both,
    animated-cursor__1 900ms steps(20, end) 8;
}
.line__2 {
  border-right: 2px hidden;
  /* define animation types for text + cursor */
  animation: animated-text__2 2s steps(15, end) 1s 1 normal both,
    animated-cursor__2 900ms steps(15, end) infinite;
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}
@keyframes animated-cursor__1 {
  from {border-right-color: rgba(17, 17, 17, 0.9);}
  to {border-right-color: rgba(255, 255, 255, 0.8);}
}
@keyframes animated-cursor__2 {
  from {border-right-color: rgba(17, 17, 17, 0.9);}
  to {border-right-color: rgba(255, 255, 255, 0.8);}
}
@keyframes animated-text__1 {
  from {width: 0;} to {width: 80%;}
  /* from {width: 0;} to {width: 45rem;} */
}
@keyframes animated-text__2 {
  from {width: 0;} to {width: 60%;}
  /* from {width: 0;} to {width: 29rem;} */
}

a:link, a:visited {
  background-color: #36f4eb81;
  color: rgb(0, 0, 0);
  padding: 10px 10px;
  text-align: center;
  font-size: 20px;
  text-decoration: none;
  display: inline-block;
}
a:hover, a:active {
  background-color: rgb(0, 255, 255);
}

.body {
  color: white;
  font-size: calc(10px + 2vmin);
}

.form {
  font-size: calc(10px + 2vmin);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
