/* Galaxy Fold & iPhone5: Width 280px - 320px */
@media only screen and (max-width: 330px){
    .body {
        /* line-height: 35px;
        padding-bottom: 20px; */
        line-height: 5v;
        padding-bottom: 5vh;
    }
}

/* GalaxyS5, MotoG4 (360x640)
   iPhone X (375x812), iPhone 6/7/8 (375x667)
   " Plus (414x736), Pixel, " 2XL (411x823) */
@media only screen and (max-width: 420px){
    .body {
        /* line-height: 35px;
        padding-bottom: 30px; */
        line-height: 5vh;
        padding-bottom: 5vh;
    }
}

/* Surface Duo (540x720) */
@media only screen and (max-width: 1025px) and (max-height: 740px) {
    .body {
        /* padding-top: 35px; */
        /* line-height: 35px;
        padding-bottom: 15px; */
        line-height: 5vh;
        padding-bottom: 5vh;
    }
}

/* iPad (768x1024) */
@media only screen and (max-width: 1025px) and (min-height: 740px) {
    .body {
        /* padding-top: 35px;
        line-height: 35px;
        padding-bottom: 50px; */
        line-height: 5vh;
        padding-bottom: 5vh;
    }
}

/* Nest Hub (1024x600), Max (1280x800) For desktop  */
@media only screen and (min-width: 801px) {
    .body {
        /* padding-top: 20px;
        line-height: 20px;
        padding-bottom: 20px; */
        line-height: 5vh;
        padding-bottom: 5vh;
    }
}
/* iPad Pro (1024x1366), G.Chrome, M.Edge */
@media only screen and (min-width: 950px) and (min-height: 801px) {
    .body {
        /* padding-top: 35px;
        line-height: 35px;
        padding-bottom: 50px; */
        line-height: 5vh;
        padding-bottom: 5vh;
    }
}